---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import NavBanner from '~/components/widgets/NavBanner.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  frontmatter?: {
    title?: string;
  };
}

const { metadata: meta, frontmatter: front } = Astro.props;

let title: string | undefined = undefined;
if (meta?.title) {
  title = meta.title;
} else if (front?.title) {
  title = front.title
}

const metadata: MetaData = { title };
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <NavBanner/>
  </slot>
  <slot name="header">
    <Header {...headerData} socialLinks={footerData.socialLinks} isSticky showRssFeed showToggleTheme />
  </slot>
  <main class="2xl:font-[20px]">
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
