---
import { twMerge } from 'tailwind-merge';

const { columns, containerClass = '' } = Astro.props;
---

<div
  class={twMerge(
    `grid mx-auto gap-8 md:gap-y-12 ${
      columns === 4
        ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
        : columns === 3
          ? 'lg:grid-cols-3 sm:grid-cols-2'
          : columns === 2
            ? 'sm:grid-cols-2 '
            : ''
    }`,
    containerClass
  )}
>
  <slot/>
</div>